# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
pnpm-lock.yaml

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# OCR index file (contains processed data)
ocr-index.json

# Temporary files
2

# Exclude macOS Finder (System Explorer) View States
.DS_Store
